html {
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    /* font-size: 1.0rem; */
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}
.redmi{
    width: 450px;
    height: 630px;
}
.titulo {
    font-size: 1.5rem;
    text-align: center;
}
h1::first-letter{
    font-size: 50px;
}
article h2 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
aside h2 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
a h3{
    margin-top: 7px;
    font-weight: bold;
    font-size: 25px;
}
article h4{
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
}
aside h4{
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
}
article p{
    font-size: 13px;
}
aside p{
    font-size: 13px;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

p {
    font-size: 1.0rem;
}
button{
    background-color: blue;
    color: rgb(244, 228, 228);
    border-radius: 10px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    border: none;
}
button:hover{
    background-color: black;
    border-radius: 10px;
    color: white;
}
.nav-link:hover{ 
    font-weight: bold;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10px;
}


/** CODIGO AQUI **/

@media (min-width: 768px) {
    .contenedor-grid {
        display: grid;
        grid-template-areas: "izquierda contenido derecha";
        grid-template-columns:repeat(3, 1fr);
        grid-auto-flow: column;
        column-gap: 2rem;
    }
    
    .contenido-principal {
        grid-area: contenido;
    }

    .sidebar-1 {
        grid-area: derecha;
    }
    h1 {
        font-size: 2rem;
        padding: 15px;
        text-align: center;
    }
    h2{
        font-size: 15px;
    }
    .redmi{
        width: 450px;
        height: 480px;
    }
}

 @media (min-width: 425px) {
    
    img {
        width:60%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    .sidebar-1 {
        grid-area: derecha;
    }
    h1 {
        font-size: 2.5rem;
        padding: 15px;
        text-align: center;
    }
    h4{
        font-size: 13px;
    }
    button{
        margin-left: 5px;
        font-size: 13px;
    }
    .redmi{
        width: 300px;
        height: 540px;
        padding: 0 10px 0 10px;
    }
}
@media (min-width: 375px) {
    
    img {
        width:70%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    .sidebar-1 {
        grid-area: derecha;
    }
    h1 {
        font-size: 1.7rem;
        padding: 15px;
        text-align: center;
    }
    button{
        margin-left: 5px;
        font-size: 13px;
    }
    .redmi{
        width: 400px;
        height: 540px;
        padding: 0 10px 0 10px;
    }
}
@media (min-width: 320px) {
    
    img {
        width:70%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    .sidebar-1 {
        grid-area: derecha;
    }
    h1 {
        font-size: 1.3rem;
        padding: 15px;
        text-align: center;
    }
    h2{
        font-size: 13px;
    }
    h4{
        padding: 5px;
    }
    p{
        padding: 5px;
    }
    .redmi{
        width: 400px;
        height: 490px;
    }
    button{
        margin-left: 5px;
        font-size: 12px;
    }
}
