html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}
.hisense{
    width: 500px;
}
h1 {
    font-size: 4rem;
    padding: 15px;
}
h1::first-letter{
    font-size: 50px;
}
h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
a h3{
    margin-top: 7px;
    font-weight: bold;
}
h4{
    padding-top: 10px;
    font-weight: bold;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


/** CODIGO AQUI **/

@media (min-width: 768px) {
    .contenedor-grid {
        display: grid;
        grid-template-areas: "izquierda contenido derecha";
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: column;
        column-gap: 2rem;
    }
    
    .contenido-principal {
        grid-area: contenido;
    }

    .sidebar-1 {
        grid-area: derecha;
    }
}